html {
    height: 100%;
    --white: #D2D6EF;
    --smoky-black: #12130F;
    --jonquil: #F7CB15;
    --sky-blue-crayola: #72DDF7;
    --coral: #FF8552;
    --light-green: #70EE9C;
    user-select: none;
}

body {
    margin: 0;
    height: 100%;
}

#root {
    height: 100%;
}

.wrapper {
    height: 100%;
    background-color: var(--smoky-black);
    color: var(--white);
    font-variant: normal;
    font-family: 'Exo 2', sans-serif;
}

.content {
    transition: .3s;
    opacity: 1;
    width: 100%;
    overflow: hidden;
}