html {
    height: 100%;
    --white: #D2D6EF;
    --smoky-black: #12130F;
    --jonquil: #F7CB15;
    --sky-blue-crayola: #72DDF7;
    --coral: #FF8552;
    --light-green: #70EE9C;
    --eminence: #772D8B;
    --flax: #E9D985;
    --orange: #FFD166;
    --canary: #F8FA90;
    user-select: none;
}

body {
    margin: 0;
    height: 100%;
}

#root {
    height: 100%;
    background-color: var(--white);
}

.wrapper {
    background-color: var(--white);
    color: var(--smoky-black);
    font-variant: normal;
    font-family: 'Exo 2', sans-serif;
}

body::-webkit-scrollbar {
    width: 5px;

}

body::-webkit-scrollbar-track {
    background: var(--white);
}

body::-webkit-scrollbar-thumb {
    background: var(--coral);
}


.content {
    transition: .3s;
    opacity: 1;
    width: 100%;
    overflow: hidden;
}