.content {
    width: 100%;
    height: 600px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
}

.header {
    margin-top: 100px;
    padding-bottom: 50px;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-size: 72px;
    text-shadow:
            1px 1px 1px var(--flax),
            2px 2px 1px var(--eminence);
}