.header {
    position: sticky;
    z-index: 5;
    border-top: none;

    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    color: var(--smoky-black);
    background-color: var(--white);
    transition: 1s;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.header__child {
    position: relative;
    display: flex;
    align-items: center;
}

.block {
    transition: .3s;
    position: relative;
    margin: 15px;
    font-weight: 400;
    cursor: pointer;
}

.block:hover {
    transition: .3s;
    color: var(--coral);
    cursor: pointer;
}

.block__active {
    transition: .3s;
    cursor: default;
    font-weight: 500;
    color: var(--coral);
}

.block__selected {
    position: absolute;
    width: 100%;
    height: 2px;
    top: calc(100%);
    left: 0;
    opacity: 0;
    transition: 1s;
}

.block__selected__active {
    opacity: 1;
    width: 100%;
    background: var(--coral);
    transition: .3s;
    top: calc(100% + 10px);
}

@media screen and (max-width: 1000px) {
    .block {
        font-size: calc( (120vw - 80rem)/100 + 1.3rem);
    }
}

@media screen and (max-width: 769px) {

    .header__show {
        display: flex;
        width: 100%;
        justify-content: right;
        align-items: center;
    }

    .header {
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: fit-content;
    }

    .header__child {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .block {
        margin-top: 10px;
        width: 100%;
        text-align: center;
        font-size: 20px;
    }
}